.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.34%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.34%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.34%;
    }

    .col-m-8 {
        width: 66.67%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.34%;
    }

    .col-m-11 {
        width: 91.67%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1080px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.34%;
    }

    .col-lg-8 {
        width: 66.67%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.34%;
    }

    .col-lg-11 {
        width: 91.67%;
    }

    .col-lg-12 {
        width: 100%;
    }
}
